body {
  overflow-x: hidden;
}

.content-right {
  height: 466px;
}

.content-left {
  height: 100%;
}

.loginHeader {
  height: 16% !important;
}

.btn-primary:hover{
  background-color: #161313 !important;
}

.btn-outline-primary:hover{
  background-color: #161313 !important;
}

.button{
  --c: #e0e41a;
  color: var(--c) !important;
  font-size: 14px !important;
  border: 0.3em solid var(--c) !important;
  border-radius: 0px !important;
  width: 12em;
  height: 3em;
  background-color: #000000 !important;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}