.torneioCard {
  background: #4717F6 !important;
}

.cardsContainer {
  padding: 33px;
  height: 120px;
  background: #4717F6 !important;
  margin-bottom: 15px;
  border-radius: 8px;
}

.modalStyle {
  color: #000 !important;
}